
{% extends 'base.html' %}

{% block title %} 
Problems {{problem.title}}
{% endblock %}

{% block body %}
{% load markdown_deux_tags %}

<div>
	<a href="/problems"> 🔙️ Back to problems</a>
</div>

<div class="row mt-3" style=" margin-left: auto; margin-right: auto">

	<div class="col-sm" style="min-width: 60%">

		<div  >
		    <h2 class="text-muted">
		        {{problem.title}}
		    </h2>
		</div>
		<div>
		    <p>
		        {{problem.description|markdown}}
		    </p>
		</div>	

	</div>


	<div class="col-sm">
		<div >
		    <h2 class="text-muted">
		        Submit
		    </h2>
			<p class="text-muted">Submit your cpp file here</p>
		</div>

		<div>
			<form action="/submit/{{problem.problem_id}}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file" name="file" id="file">
				<button type="submit" class="btn btn-primary mt-2">Run</button>
			</form>
		</div>
	</div>

</div>

{% endblock %}
