{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block body %}
{% load static %}

<div class="row ">
    <div class="col text-center">
        <div class="jumbotron text-center">
            <h1>Leaderboard</h1>
        </div>
    </div>
    <div class="col text-center">
        <img src="{% static 'problems/leaderboard.svg' %}" alt="" style="height: 300px;width: 300px;">
    </div>
</div>


<div style="max-width: 500px; margin-left: auto; margin-right: auto;">
    <table class="table table-bordered table-hover mt-3">   
        <thead>
            <tr>
                <th>Rank</th>
                <th scope="col">Username</th>
                <th scope="col">Score</th>
            </tr>
        </thead>

        <tbody>
            {% for contestant in scoreboard %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ contestant.user__username }}</td>
                <td>{{ contestant.score }}</td>
            </tr>

            {% endfor %}
        </tbody>


    </table>
</div>
{% endblock %}